In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Import the datasets
int_change_data = pd.read_csv('Resources/int_change_percent.csv')

CovidFoodPriceChange_df = pd.read_csv('Resources/dom_change_percent.csv')

dom_clean_data=pd.read_csv('Resources/dom_clean_data.csv')

int_clean_data=pd.read_csv('Resources/int_clean_data.csv')

In [3]:
#view the data and shape
print(int_change_data.shape)
int_change_data.head()

(1144, 7)

,Unnamed: 0,country,price_type,market,commodity,post_covid,yearly
0,0,Cote d'Ivoire,Retail,Abidjan,Attieke,-0.061538,-0.031746
1,1,Cameroon,Retail,Yaoundé,Bananas (plantains),0.000000,0.000000
2,2,Cameroon,Retail,Bafoussam,Bananas (plantains),-0.305556,0.041667
3,3,Morocco,Retail,National Average,Barley (imported),-0.034483,-0.034483
4,4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),0.769231,0.232143

In [4]:
#view the data and shape

print(CovidFoodPriceChange_df.shape)
CovidFoodPriceChange_df.head()

(1144, 8)

,Unnamed: 0,country,price_type,market,commodity,percent,post_covid,yearly
0,0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,NaN,-0.061538,-0.031746
1,1,Cameroon,Retail,YaundÃ©,Bananas (plantains),NaN,0.000000,0.000000
2,2,Cameroon,Retail,Bafoussam,Bananas (plantains),NaN,-0.305556,0.041667
3,3,Morocco,Retail,National Average,Barley (imported),NaN,-0.034483,-0.034483
4,4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),NaN,0.769231,0.232143

In [5]:
#view the data and shape
print(dom_clean_data.shape)
dom_clean_data.head()

(170934, 7)

   Unnamed: 0     month        country price_type   market  commodity  price
0           0  6/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©    NaN
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan  AttiÃ©kÃ©   0.63

In [6]:
#view the data and shape
print(int_clean_data.shape)
int_clean_data.head()

(25496, 5)

   Unnamed: 0        time    country commodity price
0           0  2020-06-01  Australia      Beef  4.97
1           1  2020-05-01  Australia      Beef  5.07
2           2  2020-04-01  Australia      Beef  4.46
3           3  2020-03-01  Australia      Beef  4.39
4           4  2020-02-01  Australia      Beef  4.55

In [7]:
CovidFoodPriceChange_df['commodity'].value_counts()
#we can see an unusual value here but we should investigate further

Rice                195
Sorghum              98
Wheat (flour)        90
Potatoes             72
Millet               69
                   ...
Cassava               1
Pasta                 1
Beans (white)         1
Potatoes (white)      1
AttiÃ©kÃ©             1
Name: commodity, Length: 84, dtype: int64

In [8]:
CovidFoodPriceChange_df['market'].unique()
#we can see several problematic values that we need to replace with readble names

array(['Abidjan', 'YaundÃ©', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Ruhengeri',
       'Dar es Salaam', 'Lira', 'Kampala', 'Cap Haitien', 'Santo Domingo',
       'Guatemala City', 'Ouanaminthe', 'Les Cayes', 'Jeremie', 'Jacmel',
       'Hinche', 'Port-au-Prince', 'Guadalajara', 'Puebla', 'Mexico City',
       'Xalapa', 'Panama City', 'San Salvador', 'Garoua',
       'San Pedro Sula', 'Tegucigalpa', 'Managua (oriental)',
       'Greater Buenos Aires', 'Aktau', 'Almaty', 'Kostanay',
       'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad', 'Naryn', 'Osh',
       'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii', 'Jalalabad',
       'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar', 'Uvurkhangai',
       'Potosi', 'Santiago', 'Bulawayo', 'Manicaland', 'Harare',
       'Mash east', 'Mash central', 'Masvingo', 'Mash west', 'Lima',
       'SÃ£o Paulo', 'Mat north', 'Mat south', 'Midlands', 'Hhohho',
       'Manzini', 'Lubombo', 'Minsk', 'National average', 'Shiselweni',
       'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka', 'Juba', 'Nampula',
       'Luanda', 'Bangkok', 'AsunciÃ³n', 'Cotonou', 'S.Vincente',
       'Natitingou', 'Parakou', 'Amegnran', 'Anie', 'CinkassÃ©', 'Kara',
       'Korbongou', 'LomÃ©', 'S.AntÃ£o', 'Accra', 'Tamale', 'Techiman',
       'Mzuzu', 'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre',
       'Tarija', 'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Yangon', 'Ibadan', 'Kano',
       'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nakuru', 'Nairobi', 'Mombasa', 'Zinder',
       'Tillaberi', 'Niamey', 'Maradi', 'Dosso', 'Mzimba', 'Nsanje',
       'Agadez', 'Arusha', 'Masindi', 'Kabale', 'Conakry', 'MedellÃ\xadn',
       'Angonia', 'Chokwe', 'Gorongosa', 'Manica', 'Maputo', 'Montepuez',
       'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa',
       'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo',
       'Marka', 'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor',
       'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio', 'CuliacÃ¡n',
       'Davao City', 'Cebu', 'Rosario', 'Mato Grosso', 'Federal District',
       'ParanÃ¡', 'Rio Grande do Sul', 'Portoviejo', 'Cuenca',
       'Cartagena', 'BogotÃ¡', 'MetroManila', 'Katima', 'Gobabis',
       'Keetmanshoop', 'Mariental', 'Oshakati', 'Otjiwarongo',
       'Swakopmund', 'Windhoek', 'Ahmedabad', 'Bengaluru', 'Bhopal',
       'Patna', 'Abeche', 'Moundou', 'Sarh', 'Kaolack', 'Fatick',
       'Diourbel', 'Dakar', 'El Gedarif', 'Al-Fashir', 'Kolda', 'Louga',
       'Matam', 'SaintLouis', 'Tambacounda', 'Thies', 'Zguinchor',
       'Al-Damazin', 'El Obeid', 'Kadugli', 'Khartoum', 'Nyala',
       'Port Sudan', 'Bobo Dioulasso', 'Dori', 'DÃ©dougou',
       "Fada N'gourma", 'Kongoussi', 'Nouna', 'Ouagadougou', 'Tenkodogo',
       'Bamako', 'Gao', 'Kayes', 'Mopti', 'Sikasso', 'SÃ©gou',
       'Tombouctou', 'Bo', 'Freetown', 'Kailahun', 'Kenema', 'Koinadugu',
       'Iloilo', 'Nueva Ecija', 'Khorugh', 'Khatlon', 'Dushanbe',
       'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot', 'Maxixe', 'Dhaka',
       'Phnom Penh', 'Kampong Chhnang', 'Battambang', 'Banteay Meanchey',
       'Multan', 'Karachi', 'Lahore', 'Quetta', 'Kathmandu', 'Saclepea',
       'Monrovia', 'Buchanan', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola',
       'Dinsoor', 'Kampong Cham', 'Barranquilla', 'Buenos Aires',
       'Peshawar', 'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'],
      dtype=object)

In [9]:
incorrect_city_list=["MedellÃn", "CuliacÃ¡n", "Federal District","ParanÃ¡","BogotÃ¡", "MetroManila", "CuliacÃ¡n",
"DÃ©dougou", "SÃ©gou","Tombouctou",'YaundÃ©', 'SÃ£o Paulo', 'AsunciÃ³n', 'S.Vincente', 'CinkassÃ©', 'LomÃ©', 'S.AntÃ£o']
corrected_city_list = ["Medellín","Culiacán","Distrito Federal","Paraná","Bogotá","Metro Manila","Culiacán","Dédougou","Ségou"
                       ,"Timbuktu",'Yaoundé', 'São Paulo', 'Asunción', 'São Vicente', 'Cinkassé', 'Lomé', 'Santo Antão']
#if we made this into a dictionary, where the incorrect cities would be the key and the correct cities would be the value, if 
#the market value is in the list of keys, then set the market value equal to correct value

cities_dict = dict(zip(incorrect_city_list, corrected_city_list))
cities_dict

{'MedellÃn': 'Medellín',
 'CuliacÃ¡n': 'Culiacán',
 'Federal District': 'Distrito Federal',
 'ParanÃ¡': 'Paraná',
 'BogotÃ¡': 'Bogotá',
 'MetroManila': 'Metro Manila',
 'DÃ©dougou': 'Dédougou',
 'SÃ©gou': 'Ségou',
 'Tombouctou': 'Timbuktu',
 'YaundÃ©': 'Yaoundé',
 'SÃ£o Paulo': 'São Paulo',
 'AsunciÃ³n': 'Asunción',
 'S.Vincente': 'São Vicente',
 'CinkassÃ©': 'Cinkassé',
 'LomÃ©': 'Lomé',
 'S.AntÃ£o': 'Santo Antão'}

In [10]:
#We can then run some code to replace the incorrect values with the correct values using the "cities_dict"
CovidFoodPriceChange_df['market'] = CovidFoodPriceChange_df['market'].replace(cities_dict)

In [11]:
#we want to drop this column that only serves 
CampaignClean = CovidFoodPriceChange_df.drop(columns=["Unnamed: 0","percent"])
CampaignClean.head()

,country,price_type,market,commodity,post_covid,yearly
0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,-0.061538,-0.031746
1,Cameroon,Retail,Yaoundé,Bananas (plantains),0.000000,0.000000
2,Cameroon,Retail,Bafoussam,Bananas (plantains),-0.305556,0.041667
3,Morocco,Retail,National Average,Barley (imported),-0.034483,-0.034483
4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),0.769231,0.232143

In [12]:
CampaignClean['commodity'].unique()

array(['AttiÃ©kÃ©', 'Bananas (plantains)', 'Barley (imported)',
       'Banana (plantains)', 'Barley (local)', 'Beans', 'Beans (black)',
       'Beans (poroto)', 'Beans (red)', 'Beans (wild)', 'Beans (white)',
       'Beef meat', 'Bread', 'Bread (Sabbath loaf)',
       'Bread (French type)', 'Bread (brown)', 'Bread (high grade flour)',
       'Bread (first grade flour)', 'Bread (white)', 'Cabbage',
       'Breakfast maize meal', 'Camel meat', 'Cassava', 'Cassava (dry)',
       'Cassava (flour)', 'Cassava (fresh)', 'Cassava (gari)',
       'Cassava (manioc)', 'Cassava (root)', 'Chicken (without offals)',
       'Chicken (processed)', 'Chicken meat', 'Chickpeas', 'Lentils',
       'Lamb meat', 'Groundnuts', 'Groundnut Oil', 'Gari (white)', 'Gram',
       'Maize', 'Maize (flour)', 'Maize (local)', 'Maize (white)',
       'Maize (white flour)', 'Maize (yellow)', 'Maize (yellow flour)',
       'Maize meal', 'Maize meal (local)', 'Milk', 'Milk (Camel)',
       'Milk (powder)', 'Millet', 'Mutton meat', 'Olive Oil', 'Palm Oil',
       'Onions', 'Pasta', 'Plantains', 'Pork meat',
       'Pork meat with bones', 'Potatoes', 'Quinoa', 'Potatoes (white)',
       'Prawn', 'Rice', 'Radish', 'Rice (imported)', 'Rice ', 'Samp',
       'Sorghum', 'Semolina', 'Soya beans', 'Sugar', 'Tortillas',
       'Tomatoes', 'Taro', 'Teff (mixed)', 'Wheat', 'Vegetable oil',
       'Wheat (flour)', 'Wheat (milling soft)', 'Wheat (white)',
       'White roller maize meal', 'Yam'], dtype=object)

In [13]:
#Now we can fix thte commodities column
value_fix={'AttiÃ©kÃ©':'Attieke'}
CampaignClean['commodity'] = CampaignClean['commodity'].replace(value_fix)
CampaignClean.head()

,country,price_type,market,commodity,post_covid,yearly
0,Cote d'Ivoire,Retail,Abidjan,Attieke,-0.061538,-0.031746
1,Cameroon,Retail,Yaoundé,Bananas (plantains),0.000000,0.000000
2,Cameroon,Retail,Bafoussam,Bananas (plantains),-0.305556,0.041667
3,Morocco,Retail,National Average,Barley (imported),-0.034483,-0.034483
4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),0.769231,0.232143

In [14]:
#let's check the columns for dom_clean_data
dom_clean_data['commodity'].unique()

array(['AttiÃ©kÃ©', 'Bananas (plantains)', 'Barley (imported)',
       'Banana (plantains)', 'Barley (local)', 'Beans', 'Beans (black)',
       'Beans (poroto)', 'Beans (red)', 'Beans (wild)', 'Beans (white)',
       'Beef meat', 'Bread', 'Bread (Sabbath loaf)',
       'Bread (French type)', 'Bread (brown)', 'Bread (high grade flour)',
       'Bread (first grade flour)', 'Bread (white)', 'Cabbage',
       'Breakfast maize meal', 'Camel meat', 'Cassava', 'Cassava (dry)',
       'Cassava (flour)', 'Cassava (fresh)', 'Cassava (gari)',
       'Cassava (manioc)', 'Cassava (root)', 'Chicken (without offals)',
       'Chicken (processed)', 'Chicken meat', 'Chickpeas', 'Lentils',
       'Lamb meat', 'Groundnuts', 'Groundnut Oil', 'Gari (white)', 'Gram',
       'Maize', 'Maize (flour)', 'Maize (local)', 'Maize (white)',
       'Maize (white flour)', 'Maize (yellow)', 'Maize (yellow flour)',
       'Maize meal', 'Maize meal (local)', 'Milk', 'Milk (Camel)',
       'Milk (powder)', 'Millet', 'Mutton meat', 'Olive Oil', 'Palm Oil',
       'Onions', 'Pasta', 'Plantains', 'Pork meat',
       'Pork meat with bones', 'Potatoes', 'Quinoa', 'Potatoes (white)',
       'Prawn', 'Rice', 'Radish', 'Rice (imported)', 'Rice ', 'Samp',
       'Sorghum', 'Semolina', 'Soya beans', 'Sugar', 'Tortillas',
       'Tomatoes', 'Taro', 'Teff (mixed)', 'Wheat', 'Vegetable oil',
       'Wheat (flour)', 'Wheat (milling soft)', 'Wheat (white)',
       'White roller maize meal', 'Yam'], dtype=object)

In [15]:
#looks like we only have one problematic value in this column
value_fix={'AttiÃ©kÃ©':'Attieke'}

dom_clean_data['commodity'] = dom_clean_data['commodity'].replace(value_fix)
dom_clean_data.head()

   Unnamed: 0     month        country price_type   market commodity  price
0           0  6/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke    NaN
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63

In [16]:
#there's also a number of rows that don't have price data. We don't need these rows
dom_clean_data=dom_clean_data.dropna()
dom_clean_data.head()

   Unnamed: 0     month        country price_type   market commodity  price
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5           5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68

In [17]:
#When we check the market column we also find some issues. Let's use the same process as before to fix them
dom_clean_data['market'].unique()

array(['Abidjan', 'YaundÃ©', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Mombasa',
       'Nakuru', 'Ruhengeri', 'Dar es Salaam', 'Lira', 'Kampala',
       'Cap Haitien', 'Santo Domingo', 'Guatemala City', 'Ouanaminthe',
       'Les Cayes', 'Jeremie', 'Jacmel', 'Hinche', 'Port-au-Prince',
       'Guadalajara', 'Puebla', 'Mexico City', 'Xalapa', 'Panama City',
       'San Salvador', 'Garoua', 'San Pedro Sula', 'Tegucigalpa',
       'Managua (oriental)', 'Greater Buenos Aires', 'Aktau', 'Almaty',
       'Kostanay', 'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad',
       'Naryn', 'Osh', 'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii',
       'Jalalabad', 'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar',
       'Uvurkhangai', 'Potosi', 'Santiago', 'Bulawayo', 'Manicaland',
       'Harare', 'Mash east', 'Mash central', 'Masvingo', 'Mash west',
       'Lima', 'SÃ£o Paulo', 'Mat north', 'Mat south', 'Midlands',
       'Hhohho', 'Manzini', 'Lubombo', 'Minsk', 'National average',
       'Shiselweni', 'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka',
       'Buchanan', 'Monrovia', 'Saclepea', 'Bo', 'Freetown', 'Kailahun',
       'Koinadugu', 'Juba', 'Kenema', 'Nampula', 'Luanda', 'Bangkok',
       'AsunciÃ³n', 'Cotonou', 'S.Vincente', 'Natitingou', 'Parakou',
       'Amegnran', 'Anie', 'CinkassÃ©', 'Kara', 'Korbongou', 'LomÃ©',
       'S.AntÃ£o', 'Accra', 'Tamale', 'Techiman', 'Mzuzu', 'Cochabamba',
       'La Paz', 'Oruro', 'Santa Cruz', 'Sucre', 'Tarija', 'Trinidad',
       'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai', 'Chennai', 'Hajjah',
       'Hodeidah', 'Sanaa', 'Yangon', 'Ibadan', 'Kano', 'Kaura Namoda',
       'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi', 'Gitega', "N'Djamena",
       'Bol', 'Moussoro', 'Ambato', 'Mekele', 'Diredawa', 'Bahirdar',
       'Guayaquil', 'Quito', 'Riobamba', 'Addis Ababa', 'Kumasi',
       'Bolgatanga', 'Kisumu', 'Eldoret', 'Liwonde', 'Lilongwe',
       'Nairobi', 'Zinder', 'Tillaberi', 'Niamey', 'Maradi', 'Dosso',
       'Mzimba', 'Nsanje', 'Agadez', 'Arusha', 'Masindi', 'Kabale',
       'Conakry', 'MedellÃ\xadn', 'Angonia', 'Chokwe', 'Gorongosa',
       'Manica', 'Maputo', 'Maxixe', 'Milange', 'Montepuez', 'Ribaue',
       'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa', 'Hargeisa',
       'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo', 'Marka',
       'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor', 'Gogrial',
       'Rumbek', 'Torit', 'Wau', 'Yambio', 'CuliacÃ¡n', 'Davao City',
       'Cebu', 'Rosario', 'Mato Grosso', 'Federal District', 'ParanÃ¡',
       'Rio Grande do Sul', 'Portoviejo', 'Cuenca', 'Cartagena',
       'BogotÃ¡', 'MetroManila', 'Katima', 'Gobabis', 'Keetmanshoop',
       'Mariental', 'Oshakati', 'Otjiwarongo', 'Swakopmund', 'Windhoek',
       'Ahmedabad', 'Bengaluru', 'Bhopal', 'Patna', 'Abeche', 'Moundou',
       'Sarh', 'Kaolack', 'Fatick', 'Diourbel', 'Dakar', 'El Gedarif',
       'Al-Fashir', 'Kolda', 'Louga', 'Matam', 'SaintLouis',
       'Tambacounda', 'Thies', 'Zguinchor', 'Al-Damazin', 'El Obeid',
       'Kadugli', 'Khartoum', 'Nyala', 'Port Sudan', 'Bobo Dioulasso',
       'Dori', 'DÃ©dougou', "Fada N'gourma", 'Kongoussi', 'Nouna',
       'Ouagadougou', 'Tenkodogo', 'Bamako', 'Gao', 'Kayes', 'Mopti',
       'Sikasso', 'SÃ©gou', 'Tombouctou', 'Iloilo', 'Nueva Ecija',
       'Khorugh', 'Khatlon', 'Dushanbe', 'Khujand', 'Kurgonteppa',
       'Sughd', 'Kampot', 'Dhaka', 'Phnom Penh', 'Kampong Chhnang',
       'Battambang', 'Banteay Meanchey', 'Multan', 'Karachi', 'Lahore',
       'Quetta', 'Kathmandu', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola',
       'Dinsoor', 'Kampong Cham', 'Barranquilla', 'Buenos Aires',
       'Peshawar', 'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'],
      dtype=object)

In [18]:
incorrect_city_list=["MedellÃn", "CuliacÃ¡n", "Federal District","ParanÃ¡","BogotÃ¡", "MetroManila", "CuliacÃ¡n",
"DÃ©dougou", "SÃ©gou","Tombouctou",'YaundÃ©', 'SÃ£o Paulo', 'AsunciÃ³n', 'S.Vincente', 'CinkassÃ©', 'LomÃ©', 'S.AntÃ£o','MedellÃ\xadn']
corrected_city_list = ["Medellín","Culiacán","Distrito Federal","Paraná","Bogotá","Metro Manila","Culiacán","Dédougou","Ségou"
                       ,"Timbuktu",'Yaoundé', 'São Paulo', 'Asunción', 'São Vicente', 'Cinkassé', 'Lomé', 'Santo Antão','Medellín']
#if we made this into a dictionary, where the incorrect cities would be the key and the correct cities would be the value, if 
#the market value is in the list of keys, then set the market value equal to correct value

cities_dict = dict(zip(incorrect_city_list, corrected_city_list))
cities_dict
#after this line of code the issue should be fixed. Let's check the unique method to see 
dom_clean_data['market'] = dom_clean_data['market'].replace(cities_dict)
dom_clean_data['market'].unique()

array(['Abidjan', 'Yaoundé', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Mombasa',
       'Nakuru', 'Ruhengeri', 'Dar es Salaam', 'Lira', 'Kampala',
       'Cap Haitien', 'Santo Domingo', 'Guatemala City', 'Ouanaminthe',
       'Les Cayes', 'Jeremie', 'Jacmel', 'Hinche', 'Port-au-Prince',
       'Guadalajara', 'Puebla', 'Mexico City', 'Xalapa', 'Panama City',
       'San Salvador', 'Garoua', 'San Pedro Sula', 'Tegucigalpa',
       'Managua (oriental)', 'Greater Buenos Aires', 'Aktau', 'Almaty',
       'Kostanay', 'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad',
       'Naryn', 'Osh', 'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii',
       'Jalalabad', 'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar',
       'Uvurkhangai', 'Potosi', 'Santiago', 'Bulawayo', 'Manicaland',
       'Harare', 'Mash east', 'Mash central', 'Masvingo', 'Mash west',
       'Lima', 'São Paulo', 'Mat north', 'Mat south', 'Midlands',
       'Hhohho', 'Manzini', 'Lubombo', 'Minsk', 'National average',
       'Shiselweni', 'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka',
       'Buchanan', 'Monrovia', 'Saclepea', 'Bo', 'Freetown', 'Kailahun',
       'Koinadugu', 'Juba', 'Kenema', 'Nampula', 'Luanda', 'Bangkok',
       'Asunción', 'Cotonou', 'São Vicente', 'Natitingou', 'Parakou',
       'Amegnran', 'Anie', 'Cinkassé', 'Kara', 'Korbongou', 'Lomé',
       'Santo Antão', 'Accra', 'Tamale', 'Techiman', 'Mzuzu',
       'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre', 'Tarija',
       'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Sanaa', 'Yangon', 'Ibadan',
       'Kano', 'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nairobi', 'Zinder', 'Tillaberi', 'Niamey',
       'Maradi', 'Dosso', 'Mzimba', 'Nsanje', 'Agadez', 'Arusha',
       'Masindi', 'Kabale', 'Conakry', 'Medellín', 'Angonia', 'Chokwe',
       'Gorongosa', 'Manica', 'Maputo', 'Maxixe', 'Milange', 'Montepuez',
       'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa',
       'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo',
       'Marka', 'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor',
       'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio', 'Culiacán',
       'Davao City', 'Cebu', 'Rosario', 'Mato Grosso', 'Distrito Federal',
       'Paraná', 'Rio Grande do Sul', 'Portoviejo', 'Cuenca', 'Cartagena',
       'Bogotá', 'Metro Manila', 'Katima', 'Gobabis', 'Keetmanshoop',
       'Mariental', 'Oshakati', 'Otjiwarongo', 'Swakopmund', 'Windhoek',
       'Ahmedabad', 'Bengaluru', 'Bhopal', 'Patna', 'Abeche', 'Moundou',
       'Sarh', 'Kaolack', 'Fatick', 'Diourbel', 'Dakar', 'El Gedarif',
       'Al-Fashir', 'Kolda', 'Louga', 'Matam', 'SaintLouis',
       'Tambacounda', 'Thies', 'Zguinchor', 'Al-Damazin', 'El Obeid',
       'Kadugli', 'Khartoum', 'Nyala', 'Port Sudan', 'Bobo Dioulasso',
       'Dori', 'Dédougou', "Fada N'gourma", 'Kongoussi', 'Nouna',
       'Ouagadougou', 'Tenkodogo', 'Bamako', 'Gao', 'Kayes', 'Mopti',
       'Sikasso', 'Ségou', 'Timbuktu', 'Iloilo', 'Nueva Ecija', 'Khorugh',
       'Khatlon', 'Dushanbe', 'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot',
       'Dhaka', 'Phnom Penh', 'Kampong Chhnang', 'Battambang',
       'Banteay Meanchey', 'Multan', 'Karachi', 'Lahore', 'Quetta',
       'Kathmandu', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola', 'Dinsoor',
       'Kampong Cham', 'Barranquilla', 'Buenos Aires', 'Peshawar',
       'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'], dtype=object)

In [19]:
#we should also remove the unwanted index column.
dom_clean_data=dom_clean_data[['month','country','price_type','market','commodity','price']]
#let's take a look at our data now
print(dom_clean_data.shape)
dom_clean_data.head()

(141772, 6)

      month        country price_type   market commodity  price
1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68

In [20]:
#let's filter the data so we can compare pre-covid data with data during covid
dom_clean_data_copy = dom_clean_data[dom_clean_data['month'] >= "1/1/2010"]
dom_clean_data_copy

           month        country price_type    market commodity  price
1       5/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
2       4/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.59
3       3/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
4       2/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.63
5       1/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.68
...          ...            ...        ...       ...       ...    ...
170927  7/1/2006          Ghana  Wholesale  Techiman       Yam   0.41
170928  6/1/2006          Ghana  Wholesale  Techiman       Yam   0.52
170929  5/1/2006          Ghana  Wholesale  Techiman       Yam   0.43
170930  4/1/2006          Ghana  Wholesale  Techiman       Yam   0.33
170932  2/1/2006          Ghana  Wholesale  Techiman       Yam   0.31

[140867 rows x 6 columns]

In [21]:
#since the above filtration didn't work, let's change the format of the "month" column to datetime
dom_clean_data_copy['month'] = pd.to_datetime(dom_clean_data_copy['month'])

dom_clean_data_copy = dom_clean_data_copy[dom_clean_data_copy['month'] >= '1/1/2010']
dom_clean_data_copy

C:\Users\david\AppData\Local\Temp\ipykernel_23104\3055863529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dom_clean_data_copy['month'] = pd.to_datetime(dom_clean_data_copy['month'])

            month        country price_type    market commodity  price
1      2020-05-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
2      2020-04-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.59
3      2020-03-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
4      2020-02-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.63
5      2020-01-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.68
...           ...            ...        ...       ...       ...    ...
170881 2010-05-01          Ghana  Wholesale  Techiman       Yam   0.51
170882 2010-04-01          Ghana  Wholesale  Techiman       Yam   0.37
170883 2010-03-01          Ghana  Wholesale  Techiman       Yam   0.36
170884 2010-02-01          Ghana  Wholesale  Techiman       Yam   0.36
170885 2010-01-01          Ghana  Wholesale  Techiman       Yam   0.33

[130743 rows x 6 columns]

In [22]:
#let's remove the index column
int_clean_data.head()

   Unnamed: 0        time    country commodity price
0           0  2020-06-01  Australia      Beef  4.97
1           1  2020-05-01  Australia      Beef  5.07
2           2  2020-04-01  Australia      Beef  4.46
3           3  2020-03-01  Australia      Beef  4.39
4           4  2020-02-01  Australia      Beef  4.55

In [23]:
int_clean_data=int_clean_data[['time','country','commodity','price']]

In [24]:
#let's check the price for NA values
int_clean_data["price"].unique()

array(['4.97', '5.07', '4.46', '4.39', '4.55', '4.93', '5.72', '6.2',
       '5.09', '4.83', '4.69', '4.73', '4.65', '4.59', '4.75', '4.54',
       '4.44', '4.24', '4.18', '3.96', '3.82', '4.02', '4.1', '4.12',
       '4.26', '4.27', '4.53', '4.38', '4.3', '4.47', '4.43', '4.35',
       '4.31', '4.61', '4.51', '4.4', '4.19', '3.98', '4.07', '4.16',
       '4.29', '4.22', '4.15', '4.21', '3.85', '3.88', '4.09', '4.98',
       '5.16', '4.94', '4.66', '4.57', '5.06', '5.35', '5.9', '6.01',
       '6.17', '5.81', '5.14', '4.25', '4.45', '4.23', '4.0', '3.91',
       '3.83', '3.72', '3.69', '3.8', '4.11', '4.36', '4.06', '4.14',
       '3.99', '3.71', '3.76', '3.87', '4.2', '3.97', '3.73', '3.33',
       '3.28', '3.32', '3.11', '3.14', '3.37', '3.47', '3.23', '3.07',
       '2.89', '0.19', '0.22', '0.2', '0.23', '0.21', '0.24', '0.25',
       '0.27', '0.26', '0.3', '0.29', '0.17', '0.16', '0.15', '0.14',
       '0.18', '0.28', '0.31', '0.32', '0.33', '0.34', '0.35', nan,
       '0.76', '0.74', '0.73', '0.78', '0.8', '0.83', '0.87', '0.86',
       '0.85', '0.84', '0.82', '0.81', '0.72', '0.71', '0.7', '0.67',
       '0.63', '0.66', '0.64', '0.69', '0.68', '0.88', '0.75', '0.65',
       '0.6', '0.62', '0.61', '0.59', '0.58', '0.5', '0.52', '0.55',
       '0.49', '0.54', '0.56', '0.48', '0.45', '1.0', '1.08', '1.05',
       '1.02', '0.13', '0.36', '1.23', '1.25', '1.2', '1.21', '1.28',
       '1.3', '1.35', '1.38', '1.43', '1.48', '1.5', '1.53', '1.55',
       '1.6', '1.45', '1.4', '1.33', '1.61', '1.58', '1.56', '1.39',
       '1.32', '1.29', '1.27', '1.14', '0.97', '0.95', '0.92', '0.9',
       '0.89', '0.91', '0.93', '0.79', '0.77', '0.38', '0.37', '0.39',
       '0.4', '0.41', '0.44', '0.47', '0.43', '0.42', '1.89', '1.875',
       '1.865', '1.84', '1.855', '1.905', '1.925', '1.915', '1.965',
       '2.0', '2.08', '2.105', '2.175', '2.275', '2.255', '2.24', '2.215',
       '2.115', '2.06', '2.03', '1.99', '1.93', '1.9', '1.86', '1.83',
       '1.8', '1.75', '1.72', '1.7', '1.44', '1.465', '1.555', '1.575',
       '1.59', '1.665', '1.64', '1.54', '1.415', '1.525', '1.22', '1.145',
       '1.125', '1.13', '1.12', '1.115', '1.1', '1.07', '0.99', '0.94',
       '3.57', '3.4', '3.59', '4.04', '4.03', '4.58', '4.8', '4.78',
       '4.72', '4.62', '4.85', '5.13', '5.65', '5.84', '6.09', '6.43',
       '6.36', '6.03', '5.64', '5.34', '5.41', '5.92', '6.6', '7.27',
       '6.88', '6.46', '5.8', '4.77', '4.34', '3.53', '3.24', '3.05',
       '2.82', '2.88', '3.02', '3.1', '3.16', '3.12', '3.29', '3.04',
       '3.35', '3.41', '3.66', '3.67', '3.43', '3.46', '3.49', '3.63',
       '4.05', '4.41', '4.48', '4.67', '4.99', '4.95', '5.17', '5.02',
       '4.92', '4.87', '4.79', '4.08', '3.94', '3.79', '3.39', '3.21',
       '3.26', '3.61', '4.68', '4.9', '5.22', '5.33', '5.36', '5.25',
       '5.23', '5.24', '5.01', '4.6', '4.42', '3.78', '3.45', '3.36',
       '3.38', '3.54', '3.56', '3.51', '3.42', '3.52', '3.74', '3.75',
       '3.92', '3.65', '3.55', '3.2', '3.03', '3.06', '2.96', '2.72',
       '2.54', '2.48', '2.52', '2.81', '2.78', '2.87', '2.85', '2.8',
       '3.01', '3.17', '3.19', '3.31', '4.01', '4.33', '5.05', '5.18',
       '4.81', '4.64', '3.84', '3.81', '3.68', '3.86', '4.32', '4.37',
       '4.5', '3.95', '2,879.22', '2,758.92', '2,821.69', '2,989.67',
       '3,108.61', '3,241.09', '3,301.50', '3,307.96', '3,213.91',
       '3,172.31', '3,160.69', '3,118.55', '3,144.44', '3,256.92',
       '3,301.80', '3,261.22', '3,097.95', '2,894.72', '2,785.79',
       '2,799.27', '2,853.58', '2,972.08', '3,064.27', '3,093.35',
       '3,252.65', '3,261.92', '3,288.69', '3,222.34', '3,125.48',
       '2,995.17', '2,912.74', '2,983.92', '3,179.10', '3,302.68',
       '3,337.40', '3,275.08', '3,233.06', '3,203.78', '3,006.40',
       '3,062.11', '3,232.27', '3,230.12', '3,262.65', '3,117.86',
       '2,879.63', '2,852.48', '2,512.17', '2,293.07', '2,215.17',
       '2,122.23', '2,100.99', '2,091.52', '2,124.60', '2,197.17',
       '2,319.22', '2,426.41', '2,717.75', '2,270.36', '1,986.47',
       '2,170.75', '2,449.09', '2,619.75', '2,786.81', '3,196.32',
       '2,940.49', '2,563.10', '2,588.30', '2,716.48', '2,805.39',
       '2,978.27', '3,245.06', '3,779.89', '4,119.65', '4,296.94',
       '4,528.51', '4,924.59', '5,125.02', '5,135.91', '5,104.99',
       '4,960.59', '5,171.17', '5,014.92', '4,952.32', '4,828.46',
       '4,823.66', '5,061.41', '5,249.92', '4,344.24', '3,680.02',
       '3,569.91', '3,533.27', '3,505.14', '3,464.02', '3,368.63',
       '3,076.95', '2,939.99', '2,915.30', '3,066.47', '3,352.64',
       '3,533.71', '3,629.08', '3,650.24', '3,704.61', '3,716.73',
       '3,660.71', '3,693.80', '3,782.28', '3,956.26', '4,058.71',
       '4,165.87', '4,230.18', '4,553.20', '4,197.43', '3,818.77',
       '3,587.23', '3,567.53', '3,585.63', '3,457.07', '3,267.19',
       '3,467.38', '3,747.32', '3,845.14', '3,681.90', '3,222.24',
       '3,179.19', '3,382.49', '0.185', '0.175', '0.195', '0.205',
       '0.265', '0.285', '0.275', '0.245', '0.235', '0.305', '0.335',
       '0.355', '0.345', '0.255', '0.215', '0.165', '0.11', '0.12',
       '2.29', '2.28', '2.64', '2.93', '2.79', '2.62', '2.47', '2.41',
       '2.38', '2.34', '2.36', '2.3', '2.18', '1.95', '1.85', '1.74',
       '1.71', '1.79', '1.73', '1.77', '1.88', '1.98', '2.04', '2.1',
       '2.15', '2.02', '1.92', '2.21', '2.22', '2.26', '1.91', '1.82',
       '2.14', '2.49', '2.25', '2.33', '2.45', '3.64', '3.0', '2.7',
       '3.13', '3.22', '3.27', '3.62', '3.6', '2.94', '2.97', '2.91',
       '2.69', '2.43', '2.58', '2.4', '2.35', '2.51', '2.5', '2.6',
       '2.75', '2.83', '2.9', '2.84', '2.67', '2.66', '2.65', '2.53',
       '2.46', '2.44', '2.42', '2.73', '2.63', '2.77', '2.55', '2.71',
       '2.74', '2.86', '2.98', '2.99', '2.95', '2.92', '2.61', '2.57',
       '0.46', '0.53', '0.51', '2.05', '2.19', '2.13', '2.23', '2.39',
       '2.76', '2.31', '2.27', '2.12', '3.09', '2.56', '2.09', '1.96',
       '2.37', '3.08', '3.93', '5.11', '5.46', '5.37', '4.84', '5.39',
       '5.54', '5.45', '5.29', '5.08', '5.15', '5.1', '5.03', '4.17',
       '3.3', '3.48', '3.5', '4.82', '4.88', '4.52', '4.56', '4.7',
       '5.88', '6.02', '5.91', '6.0', '6.1', '6.22', '5.44', '3.44',
       '1.01', '1.03', '1.46', '1.49', '1.69', '1.51', '1.16', '1.15',
       '1.11', '1.06', '1.04', '1.09', '1.19', '1.18', '1.17', '1.26',
       '1.41', '1.36', '1.37', '0.98', '1.34', '1.31', '1.66', '0.96',
       '1.42', '0.57', '1.65', '1.24', '2.07', '1.52', '0.375', '0.365',
       '0.415', '0.405', '0.385', '0.395', '0.425', '0.435', '0.475',
       '0.545', '0.535', '0.525', '0.555', '0.575', '0.605', '0.655',
       '0.665', '0.565', '0.485', '0.505', '1.47', '1.57', '1.63', '1.81',
       '1.68', '1.62', '1.87', '1.67', '2.16', '2.2', '1.94', '2.17',
       '1.76', '0.1', '0.09', '0.08'], dtype=object)

In [25]:
int_clean_data.head()

         time    country commodity price
0  2020-06-01  Australia      Beef  4.97
1  2020-05-01  Australia      Beef  5.07
2  2020-04-01  Australia      Beef  4.46
3  2020-03-01  Australia      Beef  4.39
4  2020-02-01  Australia      Beef  4.55

In [26]:
#looking at the country column we can see some strange columns in here. We don't need futures data so let's remove that and the 
#tea data. We also don't want the unspecified data
print("ICE Futures ",int_clean_data[int_clean_data['country']=='ICE futures US'].shape)
print("Unspecified ",int_clean_data[int_clean_data['country']=='ICE Unspecified US'].shape)
print("FAO Tea ",int_clean_data[int_clean_data['country']=='FAO Tea Composite Price'].shape)
int_clean_data['country'].unique()

ICE Futures  (126, 4)
Unspecified  (0, 4)
FAO Tea  (126, 4)

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'FAO Tea Composite Price', 'ICE futures US', 'India',
       'Mombasa Auction', 'New Zealand', 'Philippines', 'Pakistan',
       'Russian Federation', 'Thailand', 'US', 'US (Kentucky)', 'Ukraine',
       'Unspecified', 'Uruguay', 'Viet Nam', 'Argentina (Up River)',
       'Central America', 'Thailand (Bangkok)', 'US (Gulf)'], dtype=object)

In [27]:
#let's filter these things out
int_clean_data = int_clean_data[int_clean_data['country']!='ICE futures US']
int_clean_data = int_clean_data[int_clean_data['country']!='FAO Tea Composite Price']
int_clean_data[int_clean_data['country']!='Unspecified']
int_clean_data['country'].unique()

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'India', 'Mombasa Auction', 'New Zealand', 'Philippines',
       'Pakistan', 'Russian Federation', 'Thailand', 'US',
       'US (Kentucky)', 'Ukraine', 'Unspecified', 'Uruguay', 'Viet Nam',
       'Argentina (Up River)', 'Central America', 'Thailand (Bangkok)',
       'US (Gulf)'], dtype=object)

In [28]:
#seems like unspecified didn't filter out, lets try again one more time
int_clean_data_cleaned = int_clean_data[int_clean_data['country']!='Unspecified']
int_clean_data_cleaned['country'].unique()

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'India', 'Mombasa Auction', 'New Zealand', 'Philippines',
       'Pakistan', 'Russian Federation', 'Thailand', 'US',
       'US (Kentucky)', 'Ukraine', 'Uruguay', 'Viet Nam',
       'Argentina (Up River)', 'Central America', 'Thailand (Bangkok)',
       'US (Gulf)'], dtype=object)

In [29]:
#let's also remove that unslightly index
int_clean_data_cleaned=int_clean_data_cleaned[['time','country','commodity','price']]

In [30]:
#let's filter the data so we can look at data pre covid and post covid. 
#Once we've done this then we'll be ready to export the data
int_clean_data_cleaned = int_clean_data_cleaned[int_clean_data_cleaned['time'] >= '2010-01-01']
int_clean_data_cleaned

             time    country commodity price
0      2020-06-01  Australia      Beef  4.97
1      2020-05-01  Australia      Beef  5.07
2      2020-04-01  Australia      Beef  4.46
3      2020-03-01  Australia      Beef  4.39
4      2020-02-01  Australia      Beef  4.55
...           ...        ...       ...   ...
24426  2010-01-29  US (Gulf)     Wheat  0.19
24427  2010-01-22  US (Gulf)     Wheat  0.19
24428  2010-01-15  US (Gulf)     Wheat   0.2
24429  2010-01-08  US (Gulf)     Wheat   0.2
24430  2010-01-01  US (Gulf)     Wheat  0.21

[13078 rows x 4 columns]

In [31]:
#We can start cleaning dom_clean_data. Let's start looking at the columns
dom_clean_data['commodity'].unique()

array(['Attieke', 'Bananas (plantains)', 'Barley (imported)',
       'Banana (plantains)', 'Barley (local)', 'Beans', 'Beans (black)',
       'Beans (poroto)', 'Beans (red)', 'Beans (wild)', 'Beans (white)',
       'Beef meat', 'Bread', 'Bread (Sabbath loaf)',
       'Bread (French type)', 'Bread (brown)', 'Bread (high grade flour)',
       'Bread (first grade flour)', 'Bread (white)', 'Cabbage',
       'Breakfast maize meal', 'Camel meat', 'Cassava', 'Cassava (dry)',
       'Cassava (flour)', 'Cassava (fresh)', 'Cassava (gari)',
       'Cassava (manioc)', 'Cassava (root)', 'Chicken (without offals)',
       'Chicken (processed)', 'Chicken meat', 'Chickpeas', 'Lentils',
       'Lamb meat', 'Groundnuts', 'Groundnut Oil', 'Gari (white)', 'Gram',
       'Maize', 'Maize (flour)', 'Maize (local)', 'Maize (white)',
       'Maize (white flour)', 'Maize (yellow)', 'Maize (yellow flour)',
       'Maize meal', 'Maize meal (local)', 'Milk', 'Milk (Camel)',
       'Milk (powder)', 'Millet', 'Mutton meat', 'Olive Oil', 'Palm Oil',
       'Onions', 'Pasta', 'Plantains', 'Pork meat', 'Potatoes',
       'Pork meat with bones', 'Quinoa', 'Potatoes (white)', 'Prawn',
       'Rice', 'Radish', 'Rice (imported)', 'Rice ', 'Samp', 'Sorghum',
       'Semolina', 'Soya beans', 'Sugar', 'Tortillas', 'Tomatoes', 'Taro',
       'Teff (mixed)', 'Wheat', 'Vegetable oil', 'Wheat (flour)',
       'Wheat (milling soft)', 'Wheat (white)', 'White roller maize meal',
       'Yam'], dtype=object)

In [32]:
#Note, this file is the merger of two data cleaning files and as a result all of the cleaning of dom_clean_data has already
#been done. So we will include the data cleaning steps here but much of the issues with the data that require these steps
#won't be visable

#Here we can fix an issue with the dom_clean_data
value_fix={'AttiÃ©kÃ©':'Attieke'}

dom_clean_data['commodity'] = dom_clean_data['commodity'].replace(value_fix)
dom_clean_data.head()

      month        country price_type   market commodity  price
1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68

In [33]:
#We should also remove NAN rows from the data
dom_clean_data=dom_clean_data.dropna()

In [34]:
dom_clean_data['market'].unique()

array(['Abidjan', 'Yaoundé', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Mombasa',
       'Nakuru', 'Ruhengeri', 'Dar es Salaam', 'Lira', 'Kampala',
       'Cap Haitien', 'Santo Domingo', 'Guatemala City', 'Ouanaminthe',
       'Les Cayes', 'Jeremie', 'Jacmel', 'Hinche', 'Port-au-Prince',
       'Guadalajara', 'Puebla', 'Mexico City', 'Xalapa', 'Panama City',
       'San Salvador', 'Garoua', 'San Pedro Sula', 'Tegucigalpa',
       'Managua (oriental)', 'Greater Buenos Aires', 'Aktau', 'Almaty',
       'Kostanay', 'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad',
       'Naryn', 'Osh', 'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii',
       'Jalalabad', 'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar',
       'Uvurkhangai', 'Potosi', 'Santiago', 'Bulawayo', 'Manicaland',
       'Harare', 'Mash east', 'Mash central', 'Masvingo', 'Mash west',
       'Lima', 'São Paulo', 'Mat north', 'Mat south', 'Midlands',
       'Hhohho', 'Manzini', 'Lubombo', 'Minsk', 'National average',
       'Shiselweni', 'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka',
       'Buchanan', 'Monrovia', 'Saclepea', 'Bo', 'Freetown', 'Kailahun',
       'Koinadugu', 'Juba', 'Kenema', 'Nampula', 'Luanda', 'Bangkok',
       'Asunción', 'Cotonou', 'São Vicente', 'Natitingou', 'Parakou',
       'Amegnran', 'Anie', 'Cinkassé', 'Kara', 'Korbongou', 'Lomé',
       'Santo Antão', 'Accra', 'Tamale', 'Techiman', 'Mzuzu',
       'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre', 'Tarija',
       'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Sanaa', 'Yangon', 'Ibadan',
       'Kano', 'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nairobi', 'Zinder', 'Tillaberi', 'Niamey',
       'Maradi', 'Dosso', 'Mzimba', 'Nsanje', 'Agadez', 'Arusha',
       'Masindi', 'Kabale', 'Conakry', 'Medellín', 'Angonia', 'Chokwe',
       'Gorongosa', 'Manica', 'Maputo', 'Maxixe', 'Milange', 'Montepuez',
       'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa',
       'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo',
       'Marka', 'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor',
       'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio', 'Culiacán',
       'Davao City', 'Cebu', 'Rosario', 'Mato Grosso', 'Distrito Federal',
       'Paraná', 'Rio Grande do Sul', 'Portoviejo', 'Cuenca', 'Cartagena',
       'Bogotá', 'Metro Manila', 'Katima', 'Gobabis', 'Keetmanshoop',
       'Mariental', 'Oshakati', 'Otjiwarongo', 'Swakopmund', 'Windhoek',
       'Ahmedabad', 'Bengaluru', 'Bhopal', 'Patna', 'Abeche', 'Moundou',
       'Sarh', 'Kaolack', 'Fatick', 'Diourbel', 'Dakar', 'El Gedarif',
       'Al-Fashir', 'Kolda', 'Louga', 'Matam', 'SaintLouis',
       'Tambacounda', 'Thies', 'Zguinchor', 'Al-Damazin', 'El Obeid',
       'Kadugli', 'Khartoum', 'Nyala', 'Port Sudan', 'Bobo Dioulasso',
       'Dori', 'Dédougou', "Fada N'gourma", 'Kongoussi', 'Nouna',
       'Ouagadougou', 'Tenkodogo', 'Bamako', 'Gao', 'Kayes', 'Mopti',
       'Sikasso', 'Ségou', 'Timbuktu', 'Iloilo', 'Nueva Ecija', 'Khorugh',
       'Khatlon', 'Dushanbe', 'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot',
       'Dhaka', 'Phnom Penh', 'Kampong Chhnang', 'Battambang',
       'Banteay Meanchey', 'Multan', 'Karachi', 'Lahore', 'Quetta',
       'Kathmandu', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola', 'Dinsoor',
       'Kampong Cham', 'Barranquilla', 'Buenos Aires', 'Peshawar',
       'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'], dtype=object)

In [35]:
#let's clean these city columns using the 
incorrect_city_list=["MedellÃn", "CuliacÃ¡n", "Federal District","ParanÃ¡","BogotÃ¡", "MetroManila", "CuliacÃ¡n",
"DÃ©dougou", "SÃ©gou","Tombouctou",'YaundÃ©', 'SÃ£o Paulo', 'AsunciÃ³n', 'S.Vincente', 'CinkassÃ©', 'LomÃ©', 'S.AntÃ£o','MedellÃ\xadn']
corrected_city_list = ["Medellín","Culiacán","Distrito Federal","Paraná","Bogotá","Metro Manila","Culiacán","Dédougou","Ségou"
                       ,"Timbuktu",'Yaoundé', 'São Paulo', 'Asunción', 'São Vicente', 'Cinkassé', 'Lomé', 'Santo Antão','Medellín']
#if we made this into a dictionary, where the incorrect cities would be the key and the correct cities would be the value, if 
#the market value is in the list of keys, then set the market value equal to correct value

cities_dict = dict(zip(incorrect_city_list, corrected_city_list))
cities_dict
dom_clean_data['market'] = dom_clean_data['market'].replace(cities_dict)

In [36]:
#let's make sure we don't have the index column provided
dom_clean_data=dom_clean_data[['month','country','price_type','market','commodity','price']]

In [37]:
dom_clean_data.head()

      month        country price_type   market commodity  price
1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68

In [38]:
#let's apply a filter
dom_clean_data_copy = dom_clean_data[dom_clean_data['month'] >= "1/1/2010"]
#Seems like this filter doesn't work. Let's change it to date time
dom_clean_data_copy

           month        country price_type    market commodity  price
1       5/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
2       4/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.59
3       3/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
4       2/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.63
5       1/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.68
...          ...            ...        ...       ...       ...    ...
170927  7/1/2006          Ghana  Wholesale  Techiman       Yam   0.41
170928  6/1/2006          Ghana  Wholesale  Techiman       Yam   0.52
170929  5/1/2006          Ghana  Wholesale  Techiman       Yam   0.43
170930  4/1/2006          Ghana  Wholesale  Techiman       Yam   0.33
170932  2/1/2006          Ghana  Wholesale  Techiman       Yam   0.31

[140867 rows x 6 columns]

In [39]:
dom_clean_data_copy['month'] = pd.to_datetime(dom_clean_data_copy['month'])

dom_clean_data_copy = dom_clean_data_copy[dom_clean_data_copy['month'] >= '1/1/2010']
dom_clean_data_copy

C:\Users\david\AppData\Local\Temp\ipykernel_23104\876166458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dom_clean_data_copy['month'] = pd.to_datetime(dom_clean_data_copy['month'])

            month        country price_type    market commodity  price
1      2020-05-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
2      2020-04-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.59
3      2020-03-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
4      2020-02-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.63
5      2020-01-01  Cote d'Ivoire     Retail   Abidjan   Attieke   0.68
...           ...            ...        ...       ...       ...    ...
170881 2010-05-01          Ghana  Wholesale  Techiman       Yam   0.51
170882 2010-04-01          Ghana  Wholesale  Techiman       Yam   0.37
170883 2010-03-01          Ghana  Wholesale  Techiman       Yam   0.36
170884 2010-02-01          Ghana  Wholesale  Techiman       Yam   0.36
170885 2010-01-01          Ghana  Wholesale  Techiman       Yam   0.33

[130743 rows x 6 columns]

In [41]:
#let's export our work
CampaignClean.to_csv("percent_change_post_covid.csv",index=False)
int_clean_data_cleaned.to_csv("cleaned_resources/int_clean_data_cleaned.csv",index=False)
dom_clean_data_copy.to_csv("cleaned_resources/new_dom_clean_data.csv",index=False)